dotenv
langchain 
langchain-community
langchain-core 
langchain-google-genai 
youtube-transcript-api
google-generativeai
youtube-transcript-api

flask
flask-cors 
python-dotenv 
pymongo
langchain 
google-generativeai 
langchain-google-genai 
chromadb
gunicorn